<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<style>
		body {
			font-family: 'Roboto', Helvetica, sans-serif;
			color: #333;
		}

		a:link, a:visited {
			color: #044b7f;
		}

		section {
			width: 100%;
			max-width: 1000px;
			margin: 1em auto;
		}
	</style>
</head>
<body>
	<section>
		<header>
			<h1>{{ title }}</h1>
		</header>

		{{{ body }}}
	</section>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io()
	</script>
</body>
</html>